
@font-face {
    font-family: "montserrat";
    src: url(../storage/fonts/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: "montserrat_extrabold";
    src: url(../storage/fonts/Montserrat-ExtraBold.ttf);
}


body {
    background-image: url(../storage/imgs/fondo_info.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    gap: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}



.volverDiv{
    font-family: "montserrat";
    margin-left: -7vw;
    font-size: 2vw;
    width: 7%;
}

a{
    text-decoration: none;
    color: red;
}


.mainDiv {
    width: 80%;
    display: flex;
    flex-direction:row;
}

.divIzq{
    width: 50%;
    text-align: center;
  
}

.pelicula_img{
    width: 80%;
}


/******************************************************************/
.divDer{
    width: 50%;
}

.title{
    font-family: "montserrat_extrabold";
    color: white;
    font-size: 3vw;
}

.ano{
    font-family: "montserrat";
    color: white;
    font-size: 1.5vw;
}

.categoria{
    font-family: "montserrat";
    color: white;
    font-size: 1.5vw;
}

.descripcion{
    font-family: "montserrat";
    color: white;
    font-size: 1vw;
}

.titulo{
    font-family: "montserrat_extrabold";
    color: white;
    font-size: 1.5vw;
}

.ranking{
    font-family: "montserrat";
    color: white;
    font-size: 1.5vw;
}

.calificacion{
    font-family: "montserrat";
    color: white;
    font-size: 1.5vw;
}

.resenas{
    font-family: "montserrat_extrabold";
    color: red;
    font-size: 2vw;
    text-align: center;
}

.likes{
    width: 100%;
    height: 10%;
    display: flex;
    gap: 2vw;
}

.likes img {
    width: 4vw;
    height: 100%; 
    background-color: rgb(57, 54, 54);
    object-fit: cover; 
    cursor: pointer; 
    transition: opacity 0.2s; /* Para el feedback visual en JS */
}



.container {
    width: 100%;
    padding: 2vw;
    border-radius: 1vw;
    background-color: #1a1a1a;
    align-self: flex-start;
}

.reviewSubmit {
    width: 100%;
    background-color: #060d1700;
    display: flex;
    flex-direction: row;
}

.review-input {
    width: 65%;
    margin-right: 2%;
    background-color: #060D17;
    color: white;
    border: 0.2vw solid #333;
    padding: 0.5vw;
    border-radius: 0.5vw;
    font-size: clamp(20px, 1vw, 60px);
    margin-bottom: 0.5vw;
    font-weight: 300;
}

.review-inputCalificacion {
    width: 15%;
    background-color: #060D17;
    color: white;
    border: 0.2vw solid #333;
    padding: 0.5vw;
    border-radius: 0.5vw;
    font-size: clamp(20px, 1vw, 60px);
    margin-bottom: 0.5vw;
    font-weight: 300;
    margin-right: 2%;
}






