        @font-face {
    font-family: "montserrat";
    src: url(../storage/fonts/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: "montserrat_extrabold";
    src: url(../storage/fonts/Montserrat-ExtraBold.ttf);
}


body {
    background-image: url(../storage/imgs/fondo_inicio.png);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    min-height: 100vh;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center;
    gap: 0;
}

/* Estilos generales del header */
header {
  display: flex; /* Convierte el header en un contenedor flex */
  justify-content: space-between; /* Distribuye el espacio entre los elementos */
  align-items: center; /* Centra los elementos verticalmente */
  padding: 10px 20px; /* Espacio interno */
  color: white; /* Color del texto */
  font-family: "montserrat";
  position: fixed; /* Fija el elemento en su posición */
  top: 0; /* Lo coloca a 0 píxeles de la parte superior */
  left: 0; /* Lo alinea a 0 píxeles de la izquierda */
  width: 100%; /* Hace que ocupe todo el ancho de la ventana */
  z-index: 1000; /* Asegura que la barra esté siempre encima de otros elementos */
  margin-bottom: 0;
}

/* Estilos de la barra de búsqueda y el perfil de usuario */
.search-bar, .user-profile {
  display: flex;
  align-items: center;
}

.search-bar a, .user-profile a {
  padding: 8px; /* Espacio para el icono */
}

.icon-search, .icon-profile {
  width: 60px; /* Tamaño del ícono */
  height: 40px;
}

/* Estilos para la barra de navegación */
.main-nav ul {
  display: flex; /* Convierte la lista en un contenedor flex */
  list-style: none; /* Elimina los puntos de la lista */
  padding: 0;
  margin: 0;
  gap: 50px; /* Espacio entre los elementos de la lista */
  font-size: 1.5vw;
}

.main-nav a {
  text-decoration: none; /* Elimina el subrayado de los enlaces */
  color: white;
  font-weight: bold;
}

.categoria{
  display: flex;
  justify-content: left;
  font-family: "montserrat";
  color: white;
  width: 100%;
  height: 10%;
  font-size: 1.8vw;
  margin-top: 0;
  align-items: center;
}

.barra{
  height: 100%;
  width: 7vw;
  background-color: white;
  border-color: solid red;
}